.main{
    min-width: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://wallpaperaccess.com/full/1546976.jpg);
}
.MAIN_MIDLE{
    width: 800px;
    height:500px;
    background-color: rgb(146, 202, 169);
    opacity: 0.7;
    margin-left: 30%;
    padding: 10px;
    
}

.MAIN_MIDLE .btn{
    background-color: rgb(93, 21, 226);
    font-size: 50PX;
   margin-left: 100px;
   margin-top: 20px;
   color: beige;
   border-radius: 3px;
   
    
}

.text{
    background-color: rgb(245, 148, 148);
    font-size: 25px;
    color: rgb(1, 1, 54);
    font-weight: bold;
    
}


